ion-col {
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

  #aviso{
    padding: 0px;
    text-align: justify;
    height: 100px;
  }

  #cardbody{
    background-color: white;
  }
  
  #header{
    background-color: rgb(24, 53, 100);
  }

  #dbody{
    background-color: #1C314F;
  }