<!-- HEADER PAGINA MENU -->
<ion-header [translucent]="true" id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
    <img src="http://serverdesarrollo.irapuato.gob.mx/repositorio/assets/image-resources/2021/logo_2021_mix.png"
      width="50px" slot="end">
  </ion-toolbar>
</ion-header>

<!-- BODY -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large" id="portal">Portal Informativo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CARD MISION -->
  <ion-card-content>
    <ion-card id="mision" color="success">
      <img alt="mision"
        src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/gestor_bienvenida/gestor_bienvenida_16112022205651_63754e938224b.jpg" />
      <ion-card-header>
        <ion-card-title>MISIÓN</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Proveer al Gobierno Municipal y sus diferentes áreas de los mejores perfiles de trabajadores y trabajadoras,
          para lograr alcanzar las metas de brindar atención y servicios de calidad a las y los ciudadanos,
          así como generar un ambiente laboral digno y adecuado para el desarrollo de las y los empleados.</p>
      </ion-card-content>
    </ion-card>
  </ion-card-content>

  <!-- CARD VISION -->
  <ion-card-content>
    <ion-card id="vision">
      <img alt="vision"
        src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/gestor_bienvenida/gestor_bienvenida_16112022205651_63754e938224b1.jpg" />
      <ion-card-header>
        <ion-card-title id="vision1">VISIÓN</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ser una dependencia que implementa las acciones necesarias para propiciar
          el bienestar y desarrollo de las y los empleados municipales,
          para contribuir a la eficiencia de sus funciones,
          además de la mejora del rendimiento individual y en equipo.</p>
      </ion-card-content>
    </ion-card>
  </ion-card-content>

  <!-- CARD VALORES -->
  <ion-card-content>
    <ion-card color="primary">
      <img alt="vision"
        src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/gestor_bienvenida/gestor_bienvenida_16112022205651_63754e938224b2.jpg" />
      <ion-card-header>
        <ion-card-title>VALORES</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Humanismo</p>
        <p>Honestidad</p>
        <p>Transparencia</p>
        <p>Solidaridad</p>
        <p>Responsabilidad</p>
        <p>Compromiso</p>
      </ion-card-content>
    </ion-card>
  </ion-card-content>

  <!-- DIV AVISO -->
  <div>
    <p id="aviso">AVISOS</p>
    <img src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/avisos/avisos_12012023182328_63c050209b9aa.jpg"
      alt="aviso">
  </div>

  <!-- DIV MANUAL -->
  <p id="manual">Manual de Inducción</p>
  <ion-card>
    <ion-card-content>
      <div id="manualdiv">
        <p id="manualtexto">Dentro de este portal, encontrarás un manual de inducción, el cual contiene información clara y detallada sobre
          los diferentes procesos a los que serás acreedor al formar parte de nuestro equipo de trabajo y convertirte en un
          servidor público.
          Además de ofrecerte un asesoramiento y guía en algunas de las actividades que pudieran generarte algún tipo de
          duda.</p>
        <ion-grid id="botonesgrid">
          <ion-row id="botones">
            <!-- BOTON DOC -->
            <ion-col>
              <p>Descargar PDF</p>
              <ion-button href="http://serverbeta.irapuato.gob.mx/portalrh/recursos/manuales/manuales_04072022174225_62c326818b1cc.pdf">
                <ion-icon slot="icon-only" name="document-text"></ion-icon>
              </ion-button>
            </ion-col>
    
            <!-- BOTON MANUAL -->
            <ion-col>
              <p>Ver Manual</p>
              <ion-button href="http://serverbeta.irapuato.gob.mx/portalrh/main/Manual">
                <ion-icon fill="outline" slot="icon-only" name="book"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>

<div>
  <!-- CARD MEDICO -->
  <p id="catalogo">Catalogo de Servicios</p>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Atención Medica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">Brindamos atención medica de excelencia y con calidez, a través de un equipo de salud comprometido.</p>
      <ion-item color="primary">
        <ion-thumbnail slot="start">
          <img alt="Medica" src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/servicios/servicios_29062022160706_62bc78aa5a65f.png" />
        </ion-thumbnail>
        <ion-label>Dra. Ma. Teresa Hernández Martínez</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- CARD PSICO -->
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title id="psicologia2">Atención Psicológica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">Contribuimos a que mantengas tu bienestar mental, para que mejores tu calidad de vida.</p>
      <ion-item color="danger">
        <ion-thumbnail slot="start">
          <img alt="psico" src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/servicios/servicios_29062022161652_62bc7af480940.png" />
        </ion-thumbnail>
        <ion-label>Jose Jaime Zavala Gestal</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- CARD NUTRI -->
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title id="psicologia2">Atención Nutricional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="ion-text-justify">El servicio esta a su disposición con el objetivo de mejorar la calidad de vida de todos los colaboradores del municipio de Irapuato,
         a través de una mejor nutrición y manejo de enfermedades crónico degenerativas que tienen que ver con una mejor alimenta</p>
      <ion-item color="success">
        <ion-thumbnail slot="start">
          <img alt="psico" src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/servicios/servicios_29062022162329_62bc7c81ecf92.png" />
        </ion-thumbnail>
        <ion-label>Dr. Ernesto Aranda Arredondo</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</div>






  <!-- GRID CONTACTENOS -->
  <p id="contactanos">CONTÁCTANOS</p>
  <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>LLÁMANOS</p>
              <ion-button>
                <ion-icon slot="icon-only" name="call"></ion-icon>
              </ion-button>
      </ion-col>

      <ion-col>
        <p>ESCRÍBENOS</p>
              <ion-button href="recursos.humanos@irapuato.gob.mx">
                <ion-icon slot="icon-only" name="mail"></ion-icon>
              </ion-button>
      </ion-col>

      <ion-col>
        <p>UBÍCANOS</p>
              <ion-button href=" https://www.google.com.mx/maps/place/Coordinaci%C3%B3n+de+Atenci%C3%B3n+Ciudadana/@20.6714484,-101.3464285,20.37z/data=!4m6!3m5!1s0x842c7fd4e6e76d59:0xea3685309e17b51d!8m2!3d20.6715335!4d-101.3464016!16s%2Fg%2F11dylrqlkb?entry=ttu">
                <ion-icon slot="icon-only" name="map"></ion-icon>
              </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<!-- CARD DECORACIÓN -->
<div>
  <ion-card color="ligth">
    <img alt="vehículo" src="http://serverbeta.irapuato.gob.mx/portalrh/recursos/publicaciones/publicaciones_10062022202414_62a3a86ea375a.jpeg" />
    <ion-card-header>
      <ion-card-title>Verificación Vehicular</ion-card-title>
      <ion-card-subtitle>2022-06-10</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>FUNCIONARIO MUNICIPAL, EVITA MULTAS Y VERIFICA, CONTRIBUYE A CUIDAR LA CÁLIDAD DEL AIRE DE NUESTRO MUNICIPIO.</p>
      <ion-button href="http://serverbeta.irapuato.gob.mx/portalrh/Main/verPublicaciones/Mzk=" slot="end">LEER MÁS</ion-button>
    </ion-card-content>
  </ion-card>



</div>


</ion-content>
