<!-- MENU -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <img src="http://serverdesarrollo.irapuato.gob.mx/repositorio/assets/image-resources/2021/logo_irapuato_2021.png" width="50px" slot="end">
  </ion-toolbar>
</ion-header>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="#" tab="home">
      <ion-icon name="person-outline"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="add-circle-outline"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="library">
    <ion-icon name="qr-code-outline"></ion-icon>
      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
