<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tramites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tramites</ion-title>
    </ion-toolbar>
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Tramites" interface="action-sheet" placeholder="Selecciona tu Tramite">
        <ion-select-option value="Tramite1">Tramite1</ion-select-option>
        <ion-select-option value="Tramite2">Tramite2</ion-select-option>
        <ion-select-option value="Tramite3">Tramite3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
