<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajustes</ion-title>
    </ion-toolbar>
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-header>
  <ion-item>
    <ion-avatar slot="start">
      <img alt=""
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI8QuS2tSqmTJV8-LpaQB4zJZL_zQ70dBwvgWYQD7KlA&s" />
    </ion-avatar>
    <ion-label> Juanh Alfaro </ion-label>
  </ion-item>
</ion-content>
